%btn {
  color: $clean-color;
  background-color: $accent-color;
  font-family: $main-font;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
}
